# Ignorar dependências locais
node_modules

# Ignorar variáveis de ambiente
.env

# Logs de depuração e erros
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache local e arquivos temporários
.DS_Store
.tmp
dist

# Configuração específica de IDEs
.vscode
.idea
*.swp
